header {
    grid-area: header;
    background-image: url(../img/banner-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Oswald;
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 1px black;
    font-size: 50px;
    color: $color1;
}