@import "_variables";
@import "_tarjetas";
@import "_nav";
@import "_footer";
@import "_header";
@import "_media";
@import "_botones";
* {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 400px auto 60px;
    grid-template-areas: "nav    nav    nav    nav"
        "header header header header"
        "main   main   main   main"
        "footer footer footer footer";

}

.logo {
    width: 70px;
    padding: 10px;
}

.logo img {
    width: 100%;
}

.carrito {
    width: 50px;
    padding: 10px;
}

.carrito img {
    width: 100%;
}





.contenedorMangas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorFiguras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


main {
    grid-area: main;
    background-image: url(../img/8f8be1d487e8491a7bdb7b20c09fd2f3.jpg)
}




.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}



label {
    font-family: Oswald;
    color: $color1;
}

textarea {
    width: 170px;
    height: 200px;
    resize: initial;
}

a {
    text-decoration: none;
    color: $color1;
    font-size: 30px;
}
.Noticias {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    width: 100px;
    background-color: $color2;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: $color1;
    margin: 10px;
}
.Titulo {
    width: 100%;
    height: 40;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: Oswald;
    color: $color1;
    -webkit-text-stroke: 1px black;
}
